body {
    background-color: rgb(110, 0, 0);
}

.pp {
    color: rgb(0, 21, 255);
    /* цвет текста */
    font-size: 200px;
    /* размер шрифта */
}
.ppW {
    color: rgba(181, 152, 8, 0.782);
    /* цвет текста */
    font-size: 200px;
    /* размер шрифта */
}

.img3 {
    width: 2000px;
    height: 1000px;
}

.button {
    color: red;
    /* цвет текста */
    font-size: 200px;
    /* размер текста */
    text-decoration: none;
    /* убирает подчеркивание */
    background-color: rgb(196, 255, 58);
    /* цвет фона */
    padding: 20px 20px; 
    /* внутренние отступы */
    border-radius: 20px;
    /* скругление углов */
    display: inline-block;
    border: 2px solid red;
    /* рамка */
    margin: 20px 20px;
    /* внешние отступы */
    transition: background-color 0.3s, color 0.3s;
    /* Плавный переход */
}

.button:hover {
    /* эффект при наведении */
    background-color: red;
    color: white;
}


.button:active {
    /* эффект при нажатии */    
    background-color: rgb(0, 0, 0);
    color: red;
}

.img4 {
    width: 2000px;
    height: 1000px;
}

.img5 {
    width: 2000px;
    height: 1000px;
}

.buttom {
    color: blue;
    /* цвет текста */
    font-size: 200px;
    /* размер текста */
    text-decoration: none;
    /* убирает подчеркивание */
    background-color: rgb(255, 208, 0);
    /* цвет фона */
    padding: 20px 20px; 
    /* внутренние отступы */
    border-radius: 20px;
    /* скругление углов */
    display: inline-block;
    border: 2px solid blue;
    /* рамка */
    margin: 20px 20px;
    /* внешние отступы */
    transition: background-color 0.3s, color 0.3s;
    /* Плавный переход */
}

.buttom:hover {
    /* эффект при наведении */
    background-color: blue;
    color: white;
}

.buttom:active {
    /* эффект при нажатии */
    background-color: rgb(0, 0, 0);
    color: blue;
}

